<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{menu.html}">
<head>

</head>
  <body>
	<div layout:fragment="content" class="form-layout">
	  <form th:action="@{/client/form/add}" th:object="${client}" method="post">
	    <div class="form-item">
	      <label>Name</label><br>
	      <input type="text" name="clientName" th:field="*{clientName}" placeholder="Name">
	      <label th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}">Name error</label>
	    </div>

	    <div class="form-item">
          <label>CPF/CNPJ</label><br>
	      <input type="text" name="clientDoc" th:field="*{clientCnpjCpf}" placeholder="Document">
	      <label th:if="${#fields.hasErrors('clientCnpjCpf')}" th:errors="*{clientCnpjCpf}">Doc error</label>
	    </div>

	    <div class="form-item">
		  <label>Email</label><br>
		  <input type="email" name="clientEmail" th:field="*{clientEmail}" placeholder="Email">
	    </div>

	    <div class="form-item">
	      <label>Phone</label><br>
	      <input type="tel" name="clientPhone" th:field="*{clientPhone}" placeholder="Phone">
	    </div>

	    <p class="form-item">
	      <input type="submit" value="Cadastrar">
	    </p>
	  </form>
	</div>
  </body>
</html>
