<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/style.css}">
<meta charset="UTF-8">
<title></title>
</head>
<body>
  
	<div id="logo-layout">
		<img id="logo" alt="logo" th:src="logo.png">	
	</div>

	<div id="login-layout">
		<div id="login">
			<form action="">
				<p>	User
					<input type="text" placeholder="User">
				</p>
			
				<p>Password
					<input type="password" placeholder="Password">
				</p>
				<p id="button"><input type="submit" value="Login"></p>	
			</form>	
		</div>  
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>	
</body>
</html>