<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{menu.html}">
<head>

</head>
  <body>
	<div layout:fragment="content" class="form-layout">
	  <form th:action="@{/request/form/add/}" th:object="${request}" method="post">
	  	
	    <div class="form-item">
	      <label>Title</label><br>
	      <input type="text" name="title" th:field="*{requestTitle}" placeholder="title">
	    </div>

	    <div class="form-item">
          <label>Problem description client</label><br>
          <textarea rows="5" cols="50" name="clientDescription" th:field="*{requestClientDescription}" placeholder="client description"></textarea>
	    </div>

	    <div class="form-item">
		  <label>Problem description developer</label><br>
          <textarea rows="5" cols="50" name="developerDescription" th:field="*{requestDevDescription}" placeholder="developer description"></textarea>
	    </div>
	    
	    <div class="form-item" >
		  <label>Client</label><br>
          <select th:field="*{requestClient}">          
          	<option th:each="client : ${client}" th:text="${client.clientId + ' - ' + client.clientName}" th:value="${client.clientId}"></option>
          </select>
	    </div>
	    
	    <div class="form-item" >
		  <label>Screen</label><br>
          <select th:field="*{requestScreen}">          
          	<option th:each="screen : ${screen}" th:text="${screen.screenId + ' - ' + screen.screenName}" th:value="${screen.screenId}"></option>
          </select>
	    </div>
	    
	    <div class="form-item" >
		  <label>Status</label><br>
          <select th:field="*{status}">          
          	<option value="Open">Open</option>
          	<option value="Running">Running</option>
          	<option value="Closed">Closed</option>
          </select>
	    </div>    
	    
	    <p class="form-item">
	      <input type="submit" value="Registrar chamado">
	    </p>
	  </form>
	</div>
  </body>
</html>
