<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{menu.html}">
<head>

</head>
  <body>
	<div layout:fragment="content" class="form-layout">
	  <form th:action="@{/screen/form/add/}" th:object="${screen}" method="post">
	    <div class="form-item">
	      <label>Name</label><br>
	      <input type="text" name="screenName" th:field="*{screenName}" placeholder="Name">
	      <label th:if="${#fields.hasErrors('screenName')}" th:errors="*{screenName}">Name error</label>
	    </div>

	    <div class="form-item">
          <label>Description</label><br>
	      <input type="text" name="screenDescription" th:field="*{screenDescription}" placeholder="Description">
	      <label th:if="${#fields.hasErrors('screenDescription')}" th:errors="*{screenDescription}">Doc error</label>
	    </div>
	    <p class="form-item">
	      <input type="submit" value="Cadastrar">
	    </p>
	  </form>
	</div>
  </body>
</html>
